h1 {
    color: blue;
}
button {
    background-color: rgb(203, 214, 214);
    color: rgb(230, 13, 13);
}
button {
    color: blueviolet;
}
p {
    color: rgb(4, 4, 90);
    background-color: darkgray;
}